@media only screen and (min-height: 1900px) {

  .scroll-left {
    font-size: 4em;
  }

  h1 {
    font-size: 4em;
  }

  #menu {
    font-size: 2em;
  }


.time{
  font-size: 8rem ;
}
.date{
 font-size: 3em ; 
}
.city{
  font-size: 4em ;
}
.others{
  font-size: 6em ;
}

  .yla {
    margin-top: 5%;
    height: 30vh ;
  }

.lounas{
  margin-bottom: 0.4% ;
}
  .paikkabutton {
    font-size: 4em ;
  }
  .dropbtn{
    font-size: 6em ;
    margin-left: 0.5em ;
  }

  #hsl-logo {
    width: 30% ;
  }

  #hsl-menu {
    font-size: 3.5em;
  }

  .hsl-div{
    padding: 5% 5% ;
  }

  #hsljuttu {
    font-size: 3em ;
  }

  .aika {
    padding-left: 320px ;
  }

  .scroll-left {
font-size: 5em !important;
  }

}

