@media only screen and (max-width: 900px) {


    /* hidden stuff */
    .mainos-section, .scroll-left, .date-container, .city {
        display: none;
    }

    /*******************/


    body, header, .main1, .main2, .yla, .ala, .weather-div, .kortit, .metropolia {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    body {}

    header {
        height: 100px;
        width: 60%;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        margin-top: ;
    }

    #logo {
        margin: 10px 5px;
        width: 150px;
    }

    .dropdown {
        width: 40%;

    }

    .paikkabutton {
        font-size: 1em;
        padding: 15px 20px;
    }

    .dropdown-content li {
        padding: 5px;
    }

    .dropdown-content {
        position: absolute;
        flex-direction: column;
        top: 12%;
    }

    .main1 {
        height: 60vh;
        align-items: stretch;

    }

    .main2 {
        height: 90%;

    }

    .yla {
        height: 10%;
        position: absolute;
        top: 0;
        right: 0;
        width: 6em;
        margin: 0;
    }

    .ala {
        height: 100%;
        align-items: flex-end;
    }

    .metropolia {
        height: 15vh;
    }

    .content {
        display: flex;
    }

    .weather-div {
        display: flex;
        width: 20%;
        background-color: #FCF6F4;
        border: none;
        box-shadow: none;
    }

    .other {
        display: flex;
        margin: auto;
        justify-content: flex-start;
    }

    .w-icon {
        width: 100%;
    }

    .others {
        flex-direction: row;
        font-size: 2em;
        margin-top: 2%;
    }

    .hsl-div {
        max-width: 90%;
        margin: auto;
        justify-content: space-between;
        min-height: ;
    }


    .lounas {
        width: 90%;
        margin: auto;
        margin-top: 1em;
        min-height: 90%;
    }

    #lounaskuva {
        content: url(./kuvat/haarukka.jpg);
    }

    .logo-container {}

    .korona2 {
        border: 1px solid #FF7820;
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 10px;
        margin: 30px auto;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.40);

    }

    h2 {
        color: #FF7820;
    }
}