@media only screen and (max-width: 800px) {
    body {
    }

    .row{
        flex-direction: column;
    }
    .width33, .width34{
      width: 90%;
      margin: auto;
    }

  }

  @media only screen and (max-width: 600px) {

    .row{
        flex-direction: column;
    }
    .width33, .width34{
      width: 100%;
      margin: auto;
    }

  }