* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  height: 100vh;
  background-color: #c7eaff;
}

.hsl-lista {
  font-size: 1em;
  float: left;
}

#banner {
  width: 100%;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: col;
}

.block {
  display: inline-block;
}

.border {
  border: 1px solid black;
}

.justify {
  justify-content: stretch;
}

.height {
  height: 80vh;
}

.width33 {
  width: 33%;
}

.width34 {
  width: 34%;
}

.width100 {
  width: 100%;
}

.height10vh {
  min-height: 10vh;
}

.scroll-left {
  min-height: 10vh;
  height: inherit;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  background: linear-gradient(to right, #f12711, #f5af19);
  color: #ccc;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
}

.scroll-left p {
  position: relative;
  width: max-content;
  margin: 0;
  transform: translateX(10%);
  animation: scroll-left 60s linear infinite;
  background-color: inherit;
}

@keyframes scroll-left {
  0% {
    transform: translateX(27%);
  }

  100% {
    transform: translateX(-100%);
  }
}

#sodexo {
  display: none;
}

#fazer, #sodexo {
  padding: 5%;
  max-height: 100%;
  overflow: hidden;
}

.background {
  background: linear-gradient(to right, #000428, #004e92);

}

video {
  max-width: 100%;
  margin: 0;
}

.lounas {
  color: #A9A9A9;
}

.carousel {
  overflow: hidden;
}


h1 {
  padding: 5% 5% 0 5%;
  font-size: 1.6em;
}

li {
  list-style-type: none;
  margin: 15px 0px;
  font-size: 1em;
  color: #A9A9A9;
}

.title {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

/*SÄÄN ja PVM leiska tästä eteenpäin*/

.current-info {
  margin: 10px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.date-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-content: flex-end;

}

.place-container {
  display: flex;
  flex: 1;
  text-align: end;
  flex-direction: column;
}

.logo-container {
  display: flex;
  flex: 1;
  height: 150px;
  padding: 10px;
}

.time {
  display: flex;
  flex-direction: row;
  font-size: 70px;
}

.date {
  display: flex;
  flex-direction: row;
  font-size: 30px;
}

#logo {
  height: 100%;
  margin: auto;
}

.city {
  font-size: 20px;
  margin-right: 5%;
}

.others {
  display: flex;
  flex-direction: row;
}

.icon {
  display: flex;
  flex: 4;
  justify-content: flex-end;
}

.w-icon {
  width: 100px;
}

.other {
  display: flex;
  flex: 1;
  margin: auto;
  font-size: 40px;
  justify-content: flex-start;
}

/*HSL leiska*/
.hsl {
  background-color: rgb(0, 96, 163);

}

#hsl-menu li {
  justify-content: flex-start;
  display: inline;
}

#hsl-data {
  display: flex;
  flex-direction: row;
}

#hsl-logo {
  background-color: rgb(0, 96, 163);
  width: 150px;
}

.hsl-row {
  display: inline-flex;
  width: fit-content;
  height: fit-content;
  justify-content: space-between;
}

