* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  /*font-family: 'Rubik', sans-serif;*/
}

#logo {
  display: flex;
  width: 300px;
}
body {
  max-height: 100vh;
  background-color: #FCF6F4;
}

footer {
  height: 5vh !important;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.kortit {
  margin: 1% 1% 2% 1%;
}
header {
  width: 100%;
  height: 15vh;
  margin-bottom: 1%;
}

.content {
  flex-direction: row;  
}

.ala {
  display: flex;
  flex-direction: row;
}

.yla {
  display: flex;
  flex-direction: row;
}

.lounas {
  background-color: #FFFAFA;
  padding: 10px;
  align-items: center;
  flex-direction: row;
  overflow: scroll;
  margin-right: 1%;
}

.main1 {
  width: 65%;
}

.main2 {
  width: 35%;
}

.date-container {
  align-items: center;
  background-color: #FFFAFA;
  margin-bottom: 1%;
  margin-right: 1%;
  width: 50%;

}

.weather-div {
  background-color: #FFFAFA;
  margin-bottom: 1%;
  margin-right: 1%;
  width: 50%;
}
.hsl-div {
  margin-right: 1%;
  margin-bottom: 1%;
  overflow: auto;
}



.flex {
  display: flex;
}

.mainos-section {
  width: 100%;
  height: 95vh;
  float: right;
}

.hsl-lista {
  font-size: 1em;
  float: left;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: col;
}

.block {
  display: inline-block;
}

.border {
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.40);
}

.justify {
  justify-content: stretch;
}

.center {
  align-items: center;
}

.height {
  height: 90vh;
}

.width33 {
  width: 33%;
}

.width34 {
  width: 34%;
}

.width100 {
  width: 100%;
}

.height10vh {
  min-height: 10vh;
}

.scroll-left {
  height: inherit;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  background: linear-gradient(to right, #f12711, #f5af19);
  color: #ccc;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}

.scroll-left p {
  position: relative;
  margin: 0;
  transform: translateX(10%);
  animation: scroll-left 60s linear infinite;
  background-color: inherit;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

#kampus {
  font-size: 2em;
  margin-left: 10%;
}

.lounasitemit {
  flex-direction: column;
}

#lounasotsikko {
  color:#FF7820;
}
#menu {
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

video {
  max-width: 100%;
  margin: 0;
}

.carousel {
  overflow: hidden;
}


h1 {
  padding: 5% 5% 0 5%;
  font-size: 1.6em;
}

li {
  list-style-type: none;
  margin: 15px 0px;
  font-size: 1em;
}

.title {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

/*SÄÄN ja PVM leiska tästä eteenpäin*/

.current-info {
  margin: 10px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.place-container {
  display: flex;
  flex: 1;
  text-align: end;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  display: flex;
  height: 400px;
}

.time {
  display: flex;
  flex-direction: row;
  font-size: 70px;
  color: #FF7820;
}

.date {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 30px;
  color: #000428;
}

#lounaskuva {
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
}

.city {
  font-size: 40px;
  color: #FF7820;
}

.others {
  flex-direction: row;
}

.icon {
  display: flex;
  justify-content: flex-end;
}

.w-icon {
  width: 150px;
}

.other {
  display: flex;
  flex: 1;
  margin: auto;
  font-size: 50px;
  justify-content: flex-start;
}

/*HSL leiska*/
.hsl {
  background-color: rgb(0, 96, 163);
  padding: 30px;
}

#hsl-menu li {
  justify-content: flex-start;
  display: inline;
  opacity: 0.5;
}

#hsl-data {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

#hsl-logo {
  width: 150px;
  padding: 11px;
}

#hsl-menu{
  padding-bottom: 13px;
}
.hsl-row, .hsl-menu {
  display: inline-flex;
  width: fit-content;
  height: fit-content;
  justify-content: space-between;
  width: max-content;
}
.dest {
  padding-left: 86px;
}
.aika{
  padding-left: 135px;
}
.line, .hsl-line {
  width: 80px;
  column-width: 50px;
  margin: 0px 0px;
}

.dest, .hsl-destination {
  column-width: 110px;
  margin: 0px 0px;
}

.aika, .hsl-time {
  column-width: 90px;
  margin: 0px 0px;
}

.hsl-line {
  color: #ffff00;
}
.hsl-row>li {
  padding-right: 8em;
}

.paikkabutton {
  background-color: #ccc;
  border: none;
  color: white;
  opacity: 0.8;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: #FF7820;
  padding: 16px;
  font-size: 2em;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover {
  border: solid 1px #f1f1f1;
  border-radius: 5px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: relative;
  background-color: transparent;
  max-width: 500px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}
