* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  height: 100vh;
  background-color: #c7eaff;
}

#banner {
  width: 100%;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: col;
}

.block {
  display: inline-block;
}

.border {
  border: 1px solid black;
}

.justify {
  justify-content: stretch;
}

.height {
  height: 90vh;
}

.width33 {
  width: 33%;
}

.width100 {
  width: 100%;
}



.scroll-left {
  min-height: 10vh;
  height: inherit;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  background: linear-gradient(to right, #f12711, #f5af19);
  color: #ccc;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
}

.scroll-left p {
  position: relative;
  width: max-content;
  margin: 0;
  transform: translateX(10%);
  animation: scroll-left 60s linear infinite;
  background-color: inherit;
}

@keyframes scroll-left {
  0% {
    transform: translateX(27%);
  }

  100% {
    transform: translateX(-100%);
  }
}
#sodexo{
  display: none;
}

#fazer, #sodexo {
  padding: 5%;
  background: linear-gradient(to right, #000428, #004e92);
  max-height: 90vh;
  overflow: hidden;
}


.lounas {
  color: #A9A9A9;
}
.carousel{
  overflow: hidden;
}


h1 {
  background: linear-gradient(to right, #000428, #004e92);
  padding: 5% 5% 0 5%;
  font-size: 1.6em;
}

li {
  list-style-type: none;
  margin: 15px 0px;
  font-size: 1.5em;
  color: #A9A9A9;
}

.title {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

/*SÄÄN ja PVM leiska tästä eteenpäin*/

.current-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.date-container {
  font-weight: 100;

}

.date-container .time {
  font-size: 70px;
}

.date-container .date {
  font-size: 30px;
}

.place-container {
  text-align: end;
}

.place-container .time-zone {
  font-size: 30px;
  font-weight: 100;
}

.place-container .country {
  font-size: 12px;
  font-weight: 700;
}

.place-container .city {
  font-size: 30px;
  font-weight: 100;
}

.current-info .others {
  display: flex;
  flex-direction: column;
  background: rgba(182, 182, 194, 0.6);
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
  border: 1px solid #eee;
}

.current-info .others .weather-item {
  display: flex;
  justify-content: space-between;
}

.w-icon {
  display: flex;
  width: 200px;
}

/*HSL leiska*/

#hsl-data{
  background-color: rgb(0, 96, 163);
}

